<h1>商品一覧 <%= link_to "＋", new_admin_item_path %></h1>

<div>
  <table>
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>税抜価格</th>
      </tr>
    </thead>
    <% @items.each do |item| %>
      <tbody>
        <tr>
          <td><%= item.id %></td>
          <td><%= item.name %></td>
          <td><%= item.price %></td>
        </tr>
      </tbody>
    <% end %>
    <%= paginate @items %>
  </table>
</div>