<div class="container">
  <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>
  <div clss="row">
    <div class="col-xs-12">
      <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>

        <div>
          <p>会員ID <%= @customer.id %></p>
          <p>氏名 <%= f.text_field :last_name %> <%= f.text_field :first_name %></p>
          <p>フリガナ <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %></p>
          <p>郵便番号 <%= f.text_field :postal_code %></p>
          <p>住所 <%= f.text_area :address %></p>
          <p>電話番号 <%= f.text_field :telephone_number %></p>
          <p>メールアドレス <%= f.text_field :email %></p>
          <p>
            会員ステータス
            <%= f.radio_button :is_deleted, "false" %>
            <%= f.label :is_deleted, "有効" %>
            <%= f.radio_button :is_deleted, "true" %>
            <%= f.label :is_deleted, "退会" %>
          </p>
        </div>
        <%= f.submit "変更を保存", class: "btn btn-success" %>

      <% end %>
    </div>
  </div>
</div>