<div class="container">
  <h3>注文履歴詳細</h3>
  <div class="center-block">
    <div class="row">
      <div class="col-xs-6">
        <p>
          購入者
          <%= link_to admin_customer_path(@order) do %>
            <%= @order.delivery_name %>
          <% end %>
        </p>
        <p>注文日 <%= @order.created_at.strftime('%Y/%m/%d') %></p>
        <p>
          配送先
          〒<%= @order.shipping_postal_code %>
          <%= @order.shipping_adddress %><br>
          <%= @order.delivery_name %>
        </p>
        <p>支払方法 <%= @order.method_of_payment_i18n %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <table class="order-show-table table">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <% @order_details.each do |order_detail| %>
            <tbody>
              <tr>
                <td><%= order_detail.item.name %></td>
                <td><%= order_detail.item.with_tax_price %></td>
                <td><%= order_detail.amount %></td>
                <td><%= order_detail.subtotal %></td>
              </tr>
            </tbody>
          <% end %>
        </table>
      </div>
      <div class="col-xs-4">
        <table class="text-right">
         <tr>
          <tr>
            <th>商品合計</th>
            <td><%= (@order.payment_amount - @order.postage).to_s(:delimited) %></td>
          </tr>
          <tr>
            <th>送料</th>
            <% @order.postage = 800 %>
            <td><%= @order.postage %></td>
          </tr>
          <tr>
            <th>請求金額</th>
            <td><%= @order.payment_amount.to_s(:delimited) %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>