<h1>注文情報入力画面</h1>

<%= form_with model: @order, url: new_order_path do |f| %>

  <h4>支払い方法</h4>
  <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
  <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br>
  <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
  <%= f.label :payment_method_transfer, Order.payment_methods_i18n[:transfer] %>

  <h4>お届け先</h4>
  <%= 

<% end %>